.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
    background-image: url(/backgroundMountain.jpg);
    background-size: cover;
    color: var(--primary-color);
}

.aboutmain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    min-height: 100vh;
    background-color: var(--quaternary-color);
    color: var(--primary-color);
}

.contactmain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    min-height: 100vh;
    background-image: url(/backgroundMountainUpsideDown.jpg);
    background-size: cover;
    color: var(--primary-color);
}

/* Menu Icon */


.menuprops {
    width:100%;
}

.burgericon {
    margin: 50px;
    left: 0px;
    top: 0px;
}

.burgericon img {
    width: 50px;
}

.popup {
    top:5px;
    left:20px;    
}

.popup img {
    width: 20%;
    position: absolute;
    top:0px;
    left:0px;
}

.x {
    position: absolute;
    left: 40px;
    top: 60px;
}

.listitem {
    list-style: none;
    position: absolute;
    left: 50px;
    top: 4px;
    margin: 2em;
}

.listitem li {
    margin: 2em;
}

/* NavBar Component */

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.graudationicon img {
    width: 15%;
    float: right;
    margin-right: 2em;
}


/* Home page */

.icon {
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.homecont {
    margin-left: 20%;
    margin-top: 15%;
}

.hometitle {
    font-size: 14pt;
    width: 50%;
}

.line {
    margin-top: 2em;
    border-top: 0.3em solid;
    border-radius: 2em;
    color: var(--secondary-color);
    width: 40%;
}

.hometext {
    font-size: 14pt;
    width: 60%;
    margin-top: 2em;
}

.buttons button {
    margin-right: 2em;
    margin-top: 2em;
    padding: 0.5em;
    width: 8em;
    border-radius: 0.5em;
    font-size: 13pt;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
}

.buttons button:hover {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}

.arrows {
    display: flex;
    position: fixed;
    bottom: 10%;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.uparrow {
    width: 30%;
    margin-bottom: 1em;
}

.downarrow {
    width: 30%;
}

/* About page */

.abouthead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

.abnouthead h1 {
    margin: auto;
}

.aboutline {
    margin-top: 2em;
    border-top: 0.3em solid;
    color: var(--primary-color);
    width: 30%;
    line-height: 0.1em;
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 4em;
    border-radius: 3px;
}

.abouttitle {
    display:inline-block;
    text-align: center;
}

.aboutcont {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.aboutcont > div {
    margin-top: 1.5em;
}

.carousel {
    margin: auto;
}

.imgcont {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.imgDescription {
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-top: -120pt;
    width:50%;
}

.leftrightarrows {
    width: 30%;
}

.carouselImage {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.testOnImageHere {
    background-color: rgba(16, 46, 53, 0.5);
    padding: 10px;
    margin: 0px 50px;
    justify-content: center;
}

.abouthead2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

.aboutfooter {
    margin: auto;
    margin-top: 1.5em;
    line-height: 3em;
}

.aboutfooter li {
    list-style: none;
}

/* Contact page */

.form {
    line-height: 1.5em;
}

.tableborder {
    border: 1.5px solid var(--quinary-color);
}

.contacttext {
    margin: 5%;
    text-align: center;
}

.formsection {
    padding-left: 20%;
    padding-right: 20%;
}

.tableline {
    padding: 5%;
    width: 100%;
}

.formbox {
    width:100%;
    padding: 15px;
}

.upperform,
.lowerform {
    width: 100%;
    text-align: left;
}

.upperfield {
    margin-top: 1em;
}

.formcont {
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
}

.formeven {
    width:50%;
    margin-right: 1em;
}

.formcont2 {
    display:flex;
    flex-direction: column;
    margin-right: 1em;
}

.formlabel {
    display: flex;
    flex-direction: column;
}

.input {
    border-color: transparent;
    width:100%; 
}

.errormsg {
    color: rgb(196, 42, 42);
    font-size: 12pt;
    font-weight: 500;
    margin-top: 0.5em;
}

.submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.submitbutton {
    margin-top: 1em;
    padding: 0.5em;
    width: 8em;
    border-radius: 0.5em;
    font-size: 13pt;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
}

.submitbutton:hover {
    background-color: var(--primary-color);
    color: var(--quinary-color);
    cursor: pointer;
}





/* Mobile */

@media (max-width: 600px) {

    /* Nav bar */

    .burgericon  {
        left:0pt;
    }

    .burgericon img {
        width: 100%;
    }

    .graudationicon img {
        width: 30%;
    }

    /* Home  */
    
    .homecont {
        margin-left: 5%;
        margin-top: 35%;
    }

    .hometitle {
        width: 90%;
        font-size: 11pt;
    }
    
    .line {
        width: 85%;
    }
    
    .hometext {
        font-size: 12pt;
        width: 80%;
    }

    /* About page */

    .abouthead {
        font-size: 8pt;
    }

    .abouttitle {
        width:30%;
    }

    .aboutline {
        margin-top: 2em;
        margin-top: 1em;
        margin-left: 2em;
        margin-right: 2em;
        border-radius: 3px;
    }

    .abouthead {
        margin-top: 10%;
    }

    .abouthead2 {
        margin-top: 20%;
    }

    .aboutfooter {
        margin-top: 1.5em;
    }

    /* contact page */

    .formsection {
        padding-left: 10pt;
        padding-right: 10pt;
    }
    
}


/* Tablet and iPad Air */
@media (min-width: 601px) and (max-width: 1000px) {
    /* Nav bar */
    
    .menuprops {
        width:20%
    }
    
    .burgericon  {
        left:0pt;
    }

    .burgericon img {
        width: 80%;
    }
    

    .graudationicon {
        width: 40%;
    }

    .graudationicon img {
        width: 20%;
    }

    .popup{
        width:40%;
    }
    
    .popup img {
        width: 40%;
        position: absolute;
        top:0px;
        left:0px;
    }

    /* Home  */

    .homecont {
        margin-left: 5%;
        margin-top: 35%;
    }

    .hometitle {
        width: 90%;
        font-size: 13pt;
    }
    
    .line {
        width: 85%;
    }
    
    .hometext {
        font-size: 14pt;
        width: 80%;
    }

    /* About  */
    .abouthead {
        margin-top: 10pt;
        font-size: 12pt;
    }

    /* Contact */
    .formsection {
        padding-left: 20pt;
        padding-right: 20pt;
    }
    
}
